<div class="one-festival-container">
    <div class="left-column">
        <h1><%=oneFestival.name%></h1>
        <strong>Venue: </strong><%=oneFestival.venue%></br>
        <strong>Genre: </strong><%=oneFestival.genre%></br>
        <strong>Date: </strong><%=oneFestival.date%></br>
        <strong>About: </strong><%=oneFestival.textInfo%></br>
        <strong>Social Media: </strong><a href="<%=oneFestival.socialMedia%>"><%=oneFestival.socialMedia%></a>
    </div>
    <div>
        <img class="festival-img" src=<%=oneFestival.imageUrl%> alt="Artwork">
    </div>
</div>